html {
    background-color: #2D2B33;
    color: white;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.header img {
    grid-column: 1 / 2;
}

.header h1 {
    grid-column: 2 / 3;
    text-align: center;
}

.header nav {
    grid-column: 3 / 4;
    text-align: right;
}

a {
    color: white;
    text-decoration: none;
}

.menu-button {
    width: 40px;
    height: 40px;
}

.burger {
    display: flex;
    justify-content: flex-end;
    margin-right: 20%;
}



